# Location of the auth.log:
auth-log-location:
  - /var/log/

# Name of the auth.log (Ubuntu is called auth.log):
auth-log-name:
  - auth.log

# Location of the permanent ban file:
blacklist-ban-file-location:
  - /var/log/auto-ban/

# The file name of your ban file:
blacklist-ban-file-name:
  - auto-ban.data

